.contact-card-line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  .contact-card-url {
    display: none;
  }
}

.contact-card-line-highlighted {
  @media screen and (min-width: $medium-device-width) {
    font-size: 1.2em;
  }
  svg {
    height: 2em;
    width: 2em;
  }
  .contact-card-url {
    display: initial;
  }
  .contact-card-title {
    display: none;
  }
}

.contact-card {
  border-radius: 1em;
  text-align: center;

  .contact-card-title {
    text-align: center;
  }

  .contact-card-image {
    color: gray;
    svg {
      margin-left: auto;
      margin-right: auto;
      transition: color 0.2s;
      &:hover {
        color: white;
      }
    }
  }
}
