@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/AlumniSansPinstripe-Regular.ttf");
}

@font-face {
  font-family: "Alumni Sans";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/AlumniSansPinstripe-Italic.ttf");
}
