html {
  display: flex;
  flex-direction: column;

  min-height: 100%;
}

body, #__nuxt, #__layout {
  display: flex;
  flex-grow: 1;

  background-color: $main-background-color;
  font-family: "Alumni Sans";
  color: $main-font-color;
}

.root {
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  min-height: 100%;
}
