.photo {
  width: 20em;
  height: 20em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  margin-bottom: 5em;
  @media screen and (min-width: $medium-device-width) {
    margin-right: 5em;
  }
  max-width: 90vw;
  border: 1em $main-background-color solid;
  border-radius: 10em;
  overflow: hidden;
}
