.section {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  &:nth-child(even) {
    background: url("static/background_pattern.svg");
    background-color: $secondary-background-color;
    color: $secondary-font-color;
    .section-title-container {
      background-color: $main-background-color;
      color: $main-font-color;
    }
  }
}

.title-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  .title {
    font-size: 100px;
    line-height: 0.62;
    .moved-name {
      margin-left: 1.83rem;
    }
  }
  .subtitle {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
  }
  .link-bar {
    flex-flow: row;
    display: flex;
    svg {
      margin: 0.5rem;
      color: gray;
      transition: color 0.2s;
      &:hover {
        color: $main-font-color;
        cursor: pointer;
      }
    }
  }
}

.section-title-container {
  position: relative;
  @media screen and (min-width: $medium-device-width){
    width: 7em;
  }
  height: 3em;
  font-size: 50px;
  font-weight: bold;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;

  background-color: $secondary-background-color;
  color: $secondary-font-color;
  .smaller-title {
    position: absolute;
    left: 1.5rem;
  }
  .larger-title {
    position: absolute;
    left: 4rem;
    top: 1rem;
    font-size: 2em;
  }
}

.section-content-container {
  font-family: sans-serif;
  font-size: 1.2rem;
  margin-top: $section-container-top-margin;
  padding-left: 1rem;
  max-width: 100%;
}

.contact-section {
  background: #333;
  color: $secondary-font-color;
  .container {
    height: calc(100% - $section-container-top-margin);
    .section-content-container {
      display: flex;
      height: 100%;
      flex-flow: column;
      justify-content: space-between;
    }
  }
}

// FIXME this should not be here
.footnote {
  font-size: 0.75em;
  text-align: center;
  margin-bottom: 1rem;
}
